//main styls 
@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


*{
    margin:0;
    padding:0;
    @include sitefont;
} 

a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}

.fsbold {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.flight {
  font-weight: 300;
}
.fbold {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.whitecontainer{
    background:$white;
    padding:20px;
    @include shadowbot;
    border-radius:5px;
}


.container{
    width:1440px;
    margin:0 auto;

    h1{
        font-size:$fsize * 2;
        @extend .fbold;
        text-align:center;
        padding:25px 0;       
    }
  

    .masterRow{
        display:flex;
        justify-content: space-between;
        padding-top:20px;

        h2{
            font-size:$fsize + 3;
            @extend .fbold;            
        }

        //left col
        .leftCol{
            @extend .whitecontainer;
            width:20%;
            padding-bottom:0;          

            .filterCol{
                h3{
                    font-size:$fsize;
                    text-align:center;
                    border-bottom:1px solid lighten($black, 85%);
                    padding:10px 0;    
                    margin-bottom:15px;            
                }
                ul{
                     display:flex;
                    flex-wrap: wrap;
                    li{                       
                         width:50%;
                        a{
                            background:$lightgreen;
                            padding:10px;
                            display:block;  
                            text-align:center;
                            margin:5px;
                            border-radius:5px;
                            color:$black;
                            @include transition;
                            
                            &:hover{
                                background:$green;
                            }
                        }
                    }
                }
            }

           
            
        }

        //right col
        .rightCol{
            width:76%;

            .row{
                display:flex;
                flex-wrap: wrap;               

                .spaceItemcol{
                    @extend .whitecontainer;
                    width:19.9%;
                    margin:0 15px 15px 0;

                    h4{
                        padding-bottom:15px;
                        text-align:center;
                        margin-bottom:10px;
                         border-bottom:1px solid lighten($black, 85%);
                    }

                    .spaceItemFigure{
                        width:100%;
                    }
                    ul{
                        li{
                            display:flex;
                            padding-bottom:5px;

                            span{
                                &:first-child{
                                    width:75%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }   
    
}

footer{
    @extend .container;
    background:$lightgreen;
    padding:20px 0;
    margin-top:20px;
    margin-bottom:15px;
    border-radius:5px;

    p{
        text-align:center;
        margin:0;
        padding:0;
    }
}
