
<!-- container -->
<div class="container">
  <h1>{{titleMain}}</h1>

  <!-- row -->
  <div class="masterRow">
    <!-- left column-->
    <div class="leftCol">
      <h2>Filters</h2>
      <div class="filterCol">
        <h3>Launch Year</h3>
        <ul>
          <li *ngFor="let year of filterYears"><a (click)="filterYear(year)">{{year}}</a></li>
        </ul>
      </div>
      <div class="filterCol">
        <h3>Successful Launch</h3>
        <ul>
          <li><a href="javascript:void(0)">True</a></li>
          <li><a href="javascript:void(0)">False</a></li>
        </ul>
      </div>
      <div class="filterCol">
        <h3>Successful Landing</h3>
        <ul>
          <li><a href="javascript:void(0)">True</a></li>
          <li><a href="javascript:void(0)">False</a></li>
        </ul>
      </div>
    </div>
    <!--/ left column-->

    <!-- right col -->
    <div class="rightCol">
      <!-- row -->
      <div class="row">
        <div class="spaceItemcol" *ngFor="let spaceItem of spaceItems">
          <a href="javascript:void(0)">
            <img src="../assets/img/{{spaceItem.imgName}}.png" alt="" class="spaceItemFigure">
          </a>
          <article>
            <h4>{{spaceItem.itemTitle}}</h4>
            <ul>
              <li><span>Mission ID:</span> <span class="fsbold">{{spaceItem.missionId}}</span></li>
              <li><span>Launch Year:</span> <span class="fsbold">{{spaceItem.launchYear}}</span></li>
              <li><span>Successful Launch:</span> <span class="fsbold">{{spaceItem.successfulLaunch}}</span></li>
              <li><span>Successful Landing:</span> <span class="fsbold">{{spaceItem.successfulLanding}}</span></li>
            </ul>
          </article>
        </div>
        <h1 *ngIf="!spaceItems.length">No Records Found...</h1>   
      </div>
      <!--/ row -->
    </div>
    <!--/ right col -->
  </div>
  <!--/ row -->
</div>
<!--/ container -->


<footer>
  <p>Design &amp; Developed by Praveen Guptha | 7995165789 | praveennandipati@gmail.com</p>
</footer>


